/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url(high-angle-view-laptop-stationeries-blue-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 2px;

}

header {
  background-image: url(AdobeStock_326444126_Preview.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #0a0909;
  padding: 10px;
  width: 1325px;
  text-align: center;

}

.logo1 {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
}

.logo1 img {
  max-width: 100px;
  height: auto;
}



.logo img {
  width: 139px;
  height: auto;
  margin-right: 5px;
}


header h1 {
  margin-bottom: 10px;
  text-decoration: underline;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 5px;
}

nav ul li a {
  color: #0e0d0d;
  text-decoration: none;

}


ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  text-align: center;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgb(7, 1, 1);
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;

}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 3px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
  width: 1300px;
}

section {
  margin-bottom: 30px;
  width: 100%;

}

form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 200px;
}

.button:hover {
  background: #eeecec;
}

.button:hover {
  display: block;
}

form button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: -25px;
}

.card {
  margin: 1rem;


  .card-img-top {
    position: relative;
    z-index: 1;
    width: 304px;

    height: 222px;
    transform: translateY(55%);
    transition: 0.5s;
  }

  .card-body {
    z-index: 1;
    box-sizing: border-box;
    width: 304px;
    padding: 1.25em;
    height: 220px;
    background: rgb(236, 236, 235);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056),
      0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1),
      0 22.3px 17.9px rgba(0, 0, 0, 0.119),
      0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    transition: 0.5s;

    .card-title {
      margin: 0 0 0.75em 0;
      font-size: 1.25em;
      font-weight: bold;
      line-height: 1.2;
    }

    .card-text {
      margin: 0 0 1em 0;
    }

    .btn {
      padding: 0.375em 0.75em;
      color: black;
      text-decoration: none;
      line-height: 1.5;
      border: 1px solid black;
      border-radius: 0.25em;
      transition: 0.5s;

      &:hover {
        color: white;
        background: black;
      }
    }
  }

  &:hover {
    .card-img-top {
      transform: translateY(2%);
    }

    .card-body {
      transform: translateY(0);
    }
  }
}

.card-body:hover {
  background-color: rgb(211, 211, 87);
}
.card-body h5{
  text-align: center;
}

/* #important-topics{
    height: 80px;
    width: 80px;
    border: 2px solid #141212;
} */
@media screen and (max-width: 600px) {
  .topic-container {
    flex-direction: column; /* Change flex direction to column */
    align-items: center; /* Align items in the center */
  }
}

  /* display: flex; */
   /* justify-content:space-between; */
   /* flex-wrap:wrap; */
   /* margin-bottom: 25px; */

.topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  height: auto;
  width:100%;
  /* border: 2px solid black; */
  /* background-color:#031926; */
  flex-shrink: 1;
 
}


.topic-box {
  border: 2px solid #141212;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  height: 220px;
  width: 180px;
  margin: 20px;
}
.topic-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
}

.topic-box p {
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for "More" buttons */
.more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #0056b3;
}

h3 {
  height: 35px;
  width: 65px;
  text-align: center;
}
#dsa{
  background-color: #0197db;
}
#python{
  background-color: #90d141;
}
#java{
  background-color: #ffe52a;
}
.resume-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 0 auto; /* Center the section */
  /* border: 2px solid; */
  margin-left: 245px;
}

.section-content {
  width: 60%;
}

.section-image img {
  width:50%;
  height: auto;
}
h2{
  font-size: 30px;
}

.learn-more-button {
  display: inline;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: block; /* Make the button a block-level element */
  margin-left: auto; /* Align the button to the right */
}
.topic-container div h5{
  /* line-height: -10px; */
  margin-bottom: -25px;
  text-align: center;
  font-size: 20px;
}
.toppers-strategies {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  position: relative;
  left: 16%;
  background-color: none;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style individual topper items */
.topper-item {
  /* flex: 0 0 calc(50% - 10px); */
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  right: 25%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the topper name */
.topper-name {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the topper notes */
.topper-notes {
  color: #666;
}

/* Style the view more button */
.view-more-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-btn:hover {
  background-color: #0056b3;
}


footer {
  background-color: #111010;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 1300px;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 20px;

}


footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;




}

footer ul li a:hover {
  color: black;
  border: none;

}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-button img {
  height: 55px;
}
.container {
  width: 104%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subheading {
  text-transform:uppercase;
  font-weight:900;
  font-size: 34px;
  /* font-weight: bold; */
  text-align: center;

}
/* @keyframes changecolor{
  0%{color:#0a0908;}
  50%{color: #0a33eb;}
  50%{text-decoration: underline;}
  70%{color: rgb(17, 66, 230);}
  90%{color: #201b03;}
 
}
section h2{
  animation: changecolor 5s infinite;
} */
